<!DOCTYPE html>
<title>
    Welcome Page
</title>
<head>
   
</head>
<body>
    {{> header}}
    {{body}} 

    <form>
        <input type="text">
        <button type="submit">Submit</button>
    </form>
    {{>footer}}

     <script src="/js/app.js"></script>
</body>
</html>